/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #3c5d52;
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
  color: #b1cdc4;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 10px 20px;

  /* width: 1100px; for small size  */
}

.keyboard-container {
  height: 50vh;
  width: calc(100% - 2px);
  /* width: 1000px; for small size  */
  text-align: center;
  border: 1px solid #283e37;
  background-color: #283e37;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;

  border-radius: 10px;
}

.capslock-container {
  width: 60%;
}

.scrolllock-container {
  width: 20%;
}

.numlock-container {
  width: 20%;
}

.capslock-container,
.scrolllock-container,
.numlock-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.capslock-container .bottom {
  font-size: 7em;
}

.numlock-container .numpad-keys,
.scrolllock-container .bottom,
.scrolllock-container .top,
.capslock-container .bottom,
.capslock-container .top {
  font-size: 0.65em;
  text-align: left;
}

.scrolllock-container .top,
.capslock-container .top {
  padding: 5px 0;
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.scrolllock-container .bottom,
.capslock-container .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 80%;
  width: 100%;
  margin-top: 20px;
}

.backquote-to-backspace,
.tab-to-back-slash,
.capslock-to-enter,
.shiftleft-to-shiftright,
.ctrlleft-to-ctrlright {
  height: 20%;

  margin: 0 0 5px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.backquote-to-backspace {
  margin-top: 5px;
}

.backquote-to-backspace .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 3px 5px;
}

.bottom .box {
  padding: 3px 5px;
}

.break.box,
.sysreq.box,
.comma.box,
.period.box,
.slash.box,
.semicolon.box,
.quote.box,
.bracketleft.box,
.bracketright.box,
.backslash.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.sysreq.box small:nth-of-type(1) {
  font-size: 0.65em;
}

.box {
  padding: 1px 5px;
  border-radius: 3px;
  cursor: pointer;

  -webkit-transition: all 0.07s ease;

  -o-transition: all 0.07s ease;

  transition: all 0.07s ease;

  -webkit-box-shadow: inset 0px 1px 3px #000;
  box-shadow: inset 0px 0px 2px #000;
}

.box.pressed,
.box:hover {
  color: #324e44;
  background-color: #b1cdc4;
}

.backspace.box,
.box {
  height: 100%;
  width: 10%;
  background-color: #324e44;

  margin: 0 2px;
}

.backspace.box,
.enter.box,
.capslock.box {
  width: 20%;
}

.tab.box,
.backslash.box {
  width: 15%;
}

.shiftleft.box {
  width: 25%;
}

.shiftright.box {
  width: 30%;
}

.space.box {
  width: 50%;
}

.f1-to-f4-container,
.f5-to-f8-container,
.f9-to-f12-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 25%;
}

.top .box {
  width: 6%;
}

.f1-to-f4-container .box,
.f5-to-f8-container .box,
.f9-to-f12-container .box {
  width: 40%;
}

.scrolllock-container .top {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.scrolllock-container .top .box {
  width: 18%;
}

.scrolllock-container .bottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.scrolllock-container .bottom .arrow-keys,
.scrolllock-container .bottom .system-commands {
  width: 100%;
}

.scrolllock-container .bottom .system-commands {
  height: 35%;
}

.scrolllock-container .bottom .system-commands .delete-to-pagedown,
.scrolllock-container .bottom .system-commands .insert-to-pageup {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 5px;
}

.scrolllock-container .bottom .system-commands .insert-to-pageup {
  margin-top: 5px;
}

.scrolllock-container .bottom .system-commands .delete-to-pagedown .box,
.scrolllock-container .bottom .system-commands .insert-to-pageup .box {
  height: 100%;
  width: 18%;
}

.scrolllock-container .bottom .arrow-keys {
  height: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0 0 5px;
}

.scrolllock-container .bottom .arrow-keys .arrowup {
  height: 50%;
  margin: 0 0 5px;
}

.scrolllock-container .bottom .arrow-keys .arrowleft-to-arrowright {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.scrolllock-container .bottom .arrow-keys .box {
  width: 18%;
  padding: 0;
}

.scrolllock-container .bottom .arrow-keys .box p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  font-size: 1.5em;
}

.numlock-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  padding: 5px 0 0;
}

.numlock-container .logo,
.numlock-container .three-dots,
.numlock-container .numpad-keys {
  width: 100%;
}

.numlock-container .logo {
  height: 10%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.numlock-container .logo img {
  width: 10%;
}

.numlock-container .logo .developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #c0c0c0;
  line-height: 0.65em;

  margin-left: 5px;
}

.numlock-container .logo small {
  font-size: 0.5em;
  font-weight: lighter;
  letter-spacing: 0.2em;
}

.numlock-container .logo a {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  text-decoration: none;
  color: #b1cdc4;
}

.numlock-container .three-dots {
  height: 12%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot {
  height: 25%;
  width: 4%;
  background-color: #324e44;
  border-radius: 50%;
}

.dot.active {
  background-color: yellowgreen;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(154, 205, 50, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(154, 205, 50, 0.5);
}

.numlock-container .numpad-keys {
  height: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.numlock-container .numpad-keys .left,
.numlock-container .numpad-keys .right {
  height: 100%;
  width: 70%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.numlock-container .numpad-keys .left {
  margin-right: 2px;
}

.numlock-container .numpad-keys .left .numpad0-to-numpaddecimal,
.numlock-container .numpad-keys .left .numlock-to-numpadmultiply,
.numlock-container .numpad-keys .left .numpad7-to-numpad9,
.numlock-container .numpad-keys .left .numpad4-to-numpad6,
.numlock-container .numpad-keys .left .numpad1-to-numpad3 {
  height: 100%;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0 0 5px;
}

.numlock-container .numpad-keys .right {
  width: 22%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.numlock-container .numpad-keys .box {
  height: 100%;
  width: 100%;
}

.numlock-container .numpad-keys .left .numpaddecimal.box {
  width: 49%;
}

.numlock-container .numpad-keys .right .box {
  margin: 0 0 5px;
}

.numlock-container .numpad-keys .right .numpadsubtract.box {
  height: 47%;
}

.numlock-container .numpad-keys .box {
  padding: 5px 6px;
  font-size: 1.1em;
}

.numlock-container .numpad-keys .left .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.minus.box {
  padding: 0 5px 3px !important;
}

.numpadsubtract.box,
.numpaddecimal.box {
  padding: 0 6px 5px !important;
}

.keys-container {
  margin: 0px 20px 20px;
  padding: 20px 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  border-bottom: 1px solid;
  border-top: 1px solid;
}

.keys-container .big-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  line-height: 2em;

  padding: 0 20px;
}

.keys-container .big-text small {
  font-size: 0.8em;
}

.keys-container .big-text h1 {
  font-size: 3em;
  margin: 5px 0;
}

.key-details,
.key-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;

  margin: 0 10px;
}

.keys-container .key-type small,
.keys-container .key-details small {
  font-size: 0.6em;
}

.keys-container .key-type h4,
.keys-container .key-details h4 {
  font-size: 0.8em;
}

.keys-container .key-type h4:hover,
.keys-container .key-details h4:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.key-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  border-left: 1px solid;

  padding: 0 10px;
}

.developer-keyInfo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.developer-keyInfo-container .developer {
  padding: 0 0 10px;
  text-align: center;
}

.developer-keyInfo-container .developer a img {
  width: 10%;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.developer-keyInfo-container .developer a:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 5px 4px #b1cdc4;
  box-shadow: 0px 0px 5px 4px #b1cdc4;

  border-radius: 20%;

  background-color: #b1cdc4;
  z-index: 1;
}

@media only screen and (max-width: 1145px) {
  .sysreq.box small:nth-of-type(2) {
    font-size: 0.65em;
  }
}

@media only screen and (max-width: 1050px) {
  .capslock-container .bottom .box,
  .capslock-container .top .box,
  .numlock-container .numpad-keys .box,
  .scrolllock-container .top .box,
  .scrolllock-container .bottom .box {
    font-size: 0.9em;
  }

  .scrolllock-container .bottom .arrow-keys .box p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 1100px;
    padding: 10px 0;
  }

  .keyboard-container {
    width: 1000px;
  }
}

.disable-smallscreen {
  display: none;
}
