* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3c5d52;
  overflow: auto;
  font-family: "Work Sans", sans-serif;
  color: #b1cdc4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  /* width: 1100px; for small size  */
}

.keyboard-container {
  height: 50vh;
  width: calc(100% - 2px);
  /* width: 1000px; for small size  */
  text-align: center;
  border: 1px solid #283e37;
  background-color: #283e37;

  display: flex;
  align-items: center;
  padding: 20px;

  border-radius: 10px;
}

.capslock-container {
  /* background-color: yellow; */
  width: 60%;
}

.scrolllock-container {
  /* background-color: yellowgreen; */
  width: 20%;
}

.numlock-container {
  width: 20%;
}

.capslock-container,
.scrolllock-container,
.numlock-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.capslock-container .bottom {
  font-size: 7em;
}

.numlock-container .numpad-keys,
.scrolllock-container .bottom,
.scrolllock-container .top,
.capslock-container .bottom,
.capslock-container .top {
  font-size: 0.65em;
  text-align: left;
}

.scrolllock-container .top,
.capslock-container .top {
  padding: 5px 0;
  height: 15%;
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrolllock-container .bottom,
.capslock-container .bottom {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  height: 80%;
  width: 100%;
  margin-top: 20px;
}

.backquote-to-backspace,
.tab-to-back-slash,
.capslock-to-enter,
.shiftleft-to-shiftright,
.ctrlleft-to-ctrlright {
  height: 20%;
  /* background-color: blue; */

  margin: 0 0 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backquote-to-backspace {
  margin-top: 5px;
}

.backquote-to-backspace .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 3px 5px;
}

.bottom .box {
  padding: 3px 5px;
}

.break.box,
.sysreq.box,
.comma.box,
.period.box,
.slash.box,
.semicolon.box,
.quote.box,
.bracketleft.box,
.bracketright.box,
.backslash.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sysreq.box small:nth-of-type(1) {
  font-size: 0.65em;
}

.box {
  padding: 1px 5px;
  border-radius: 3px;
  cursor: pointer;

  transition: all 0.07s ease;
}

.box.pressed {
  transform: scale(1.1);
  color: #324e44;
  background-color: #b1cdc4;
}

.backspace.box,
.box {
  height: 100%;
  /* width: 40px; */
  width: 10%;
  background-color: #324e44;

  margin: 0 2px;
}

.backspace.box,
.enter.box,
.capslock.box {
  /* width: 80px; */
  width: 20%;
}

.tab.box,
.backslash.box {
  /* width: 60px; */
  width: 15%;
}

.shiftleft.box {
  width: 25%;
}

.shiftright.box {
  width: 30%;
}

.space.box {
  width: 50%;
}

.f1-to-f4-container,
.f5-to-f8-container,
.f9-to-f12-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 25%;
}

.top .box {
  width: 6%;
}

.f1-to-f4-container .box,
.f5-to-f8-container .box,
.f9-to-f12-container .box {
  width: 40%;
}

.scrolllock-container .top {
  justify-content: center;
}
.scrolllock-container .top .box {
  width: 18%;
}

.scrolllock-container .bottom {
  justify-content: space-between;
}

.scrolllock-container .bottom .arrow-keys,
.scrolllock-container .bottom .system-commands {
  width: 100%;
}

.scrolllock-container .bottom .system-commands {
  height: 35%;
}

.scrolllock-container .bottom .system-commands .delete-to-pagedown,
.scrolllock-container .bottom .system-commands .insert-to-pageup {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5px;
}

.scrolllock-container .bottom .system-commands .insert-to-pageup {
  margin-top: 5px;
}

.scrolllock-container .bottom .system-commands .delete-to-pagedown .box,
.scrolllock-container .bottom .system-commands .insert-to-pageup .box {
  height: 100%;
  width: 18%;
}

.scrolllock-container .bottom .arrow-keys {
  /* height: 35%; */
  height: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 5px;
}

.scrolllock-container .bottom .arrow-keys .arrowup {
  height: 50%;
  margin: 0 0 5px;
}

.scrolllock-container .bottom .arrow-keys .arrowleft-to-arrowright {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolllock-container .bottom .arrow-keys .box {
  width: 18%;
  padding: 0;
}

.scrolllock-container .bottom .arrow-keys .box p {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.5em;
}

/* .scrolllock-container .bottom .arrow-keys .arrowright.box p,
.scrolllock-container .bottom .arrow-keys .arrowleft.box p {
  font-size: 1.5em;
} */

.numlock-container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 5px 0 0;
}

.numlock-container .logo,
.numlock-container .three-dots,
.numlock-container .numpad-keys {
  width: 100%;
}

.numlock-container .logo {
  /* background-color: blue; */
  height: 10%;

  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  align-items: center;
}

.numlock-container .logo img {
  width: 10%;
}

.numlock-container .logo .developer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #c0c0c0;
  line-height: 0.65em;

  margin-left: 5px;
}

.numlock-container .logo small {
  font-size: 0.5em;
  font-weight: lighter;
  letter-spacing: 0.2em;
}

.numlock-container .logo a {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  text-decoration: none;
  color: #b1cdc4;
}

.numlock-container .three-dots {
  height: 12%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  height: 25%;
  width: 4%;
  background-color: #324e44;
  border-radius: 50%;
}

.dot.active {
  background-color: yellowgreen;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(154, 205, 50, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(154, 205, 50, 0.5);
}

.numlock-container .numpad-keys {
  /* height: 60%; */
  height: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numlock-container .numpad-keys .left,
.numlock-container .numpad-keys .right {
  height: 100%;
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.numlock-container .numpad-keys .left {
  margin-right: 2px;
}

.numlock-container .numpad-keys .left .numpad0-to-numpaddecimal,
.numlock-container .numpad-keys .left .numlock-to-numpadmultiply,
.numlock-container .numpad-keys .left .numpad7-to-numpad9,
.numlock-container .numpad-keys .left .numpad4-to-numpad6,
.numlock-container .numpad-keys .left .numpad1-to-numpad3 {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;

  margin: 0 0 5px;
}

/* .numlock-container .numpad-keys .left .numlock-to-numpadmultiply {
  background-color: brown;
}

.numlock-container .numpad-keys .left .numpad7-to-numpad9 {
  background-color: burlywood;
}

.numlock-container .numpad-keys .left .numpad4-to-numpad6 {
  background-color: cadetblue;
}

.numlock-container .numpad-keys .left .numpad1-to-numpad3 {
  background-color: chocolate;
} */

.numlock-container .numpad-keys .right {
  width: 22%;
  /* align-items: flex-start; */
  align-items: center;
}

.numlock-container .numpad-keys .box {
  height: 100%;
  width: 100%;
}

.numlock-container .numpad-keys .left .numpaddecimal.box {
  width: 49%;
}

.numlock-container .numpad-keys .right .box {
  margin: 0 0 5px;
}

.numlock-container .numpad-keys .right .numpadsubtract.box {
  height: 47%;
}

.numlock-container .numpad-keys .box {
  padding: 2px 6px;
  font-size: 1.1em;
}

.numlock-container .numpad-keys .left .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
